@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: "boldfont";
    src: url("./fonts/SourceSansPro-Bold.otf");
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --btn-color : #FF6565;
    --main-font : 'MyCustomFont';
    
}

html {
    scroll-behavior: smooth;
}

/***======================HEADER===================***/
.background_wallpaper {
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center; /* Center the image */
    height: 950px;
}

header {
    max-width: 1000px;
    margin: 0 auto;
}

.nav_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 50%;
    height: auto;
}
ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0;
}
ul li {
    font-family: var(--main-font);
    font-weight:bold;
    font-size: 12px;
    list-style: none;
    padding: 10px;
    
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

ul li a:hover {
    color: var(--btn-color);
}

/* */

.main_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
    gap: 2rem;
}

.main_part div {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}
.main_part div p , .main_part div h1{
    font-family: "boldfont";
    margin: 0;
    padding: 5px;

}

.call_to_action {
    max-width: fit-content;
    color: #FFFFFF;
    background-color: var(--btn-color);
    border: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    margin:1rem 0 2rem 0;
    cursor: pointer;
}
.call_to_action:hover {
    opacity: 0.9;
}

.main_part > p {
    color: #FFFFFF;
    font-family: var(--main-font);
    text-align: center;
    max-width: 637px;
    line-height: 1.5;
    margin-bottom: 10rem;
}



/*===================== MAIN SECTION ======================*/
section article {
    max-width: 1000px;
    margin: 0 auto;
}

/*?Section 1*/

/* WHAT WE DO ARTICLE*/

main section article.what_we_do {
    font-family: var(--main-font);
    text-align: center;
}
main section article.what_we_do h2{
    margin-top: 4rem;
}

main section article.what_we_do p{
    max-width: 637px;
    line-height: 1.5;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 50px;
}



/* ICONS ARTICLE*/

main section article.icons {
    display: flex;
    align-items: baseline;
    margin: 5em auto;
    gap: 4rem;
}

main section article.icons div {
    text-align: center;
}

#activité  {
    font-weight: bold;
    font-family: var(--main-font);
    padding: 5px;
}
#text_desc {
    line-height: 2;
    font-size: 14px;
}

/*?Section 2*/

.colored_section {
    background-image: url('./images/headphones_hero_2.jpg');
    background-repeat: no-repeat;
    background-position: center center; /* Center the image */
    padding-top: 50px;
    background-size: cover;
    height: 600px;
    
}


.colored_section article {
    font-family: var(--main-font);
    text-align: center;
    font-family: var(--main-font);
    color: #FFFFFF;
}


.colored_section article h2 {
    margin-top: 4rem;

}

.colored_section article p {
    max-width: 637px;
    line-height: 1.5;
    margin: auto;
    margin-bottom: 50px;
}

.colored_section article .dot_container {
    display: flex;
    justify-content: space-between;
}

/*?section 3 (contact us)*/

input::placeholder {
    font-family: "boldfont";
    font-weight: bold;
    color: #071629;
}